@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

main {
  font-family: "Quicksand";
  min-height: 80vh;
}

.container {
  max-width: 750px;
  margin-top: 20px;
}

.navbar-brand img {
  height: 25px;
}

.navbar {
  border-bottom: 0;
}
/* From review project */
.review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}

.card.user:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

ul.userlists {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card.user {
  text-align: center;
  color: black;
  text-decoration: none;
}

.card.places {
  text-align: center;
  min-width: 550px;
  margin-bottom: 50px;
  justify-content: center;
}
.placesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}